<ion-view view-title="Recette {{selected_item.name}}">
  <ion-content>
      <!--div>
        <img src="../PolycookData/Pictures/{{selected_item.picture_file}}">
        <div class="item item-divider">
          {{selected_item.name}}
        </div>
      </div-->
    <div  class="myImage" style="background:url('{{serviceUrl}}PolycookData/Pictures/{{selected_item.picture_file}}') no-repeat; background-size: cover;">
        <span>
            <div class="row">
              <div class="h3 title">{{selected_item.name}}</div>
            </div>
            <div class="row">
              <div class="h5 title col">{{selected_item.level}}</div>
              <div class="h5 title col">{{selected_item.prep_time}}</div>
              <div class="h5 title col">{{selected_item.note}}</div>
              <div class="h5 title col">{{selected_item.price}}€/part</div>
            </div>
        </span>
    </div>

    <div class="row">

      <div class="card col text-center">
        <div class="item item-text-wrap">
            <button class="button button-clear ion-left ion-android-cart button-stable" ng-click="go('/app/ingredients/')">
              Ingrédients  
            </button>
        </div>
      </div>

      <div class="card col text-center">
        <div class="item item-text-wrap">
          <button class="button button-clear ion-left ion-android-restaurant button-stable" ng-click="go('/app/recipeSteps/')">
            Recette
          </button>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="card col text-center">
        <div class="item item-text-wrap">
          <button class="button button-clear ion-left ion-android-camera button-stable" ng-click="go('/app/recipePictures/')">
            Photos
          </button>
        </div>
      </div>

      <div class="card col text-center">
        <div class="item item-text-wrap">
          <button class="button button-clear ion-left ion-android-textsms button-stable" ng-click="go('/app/comments/')">
            Avis
          </button>
        </div>
      </div>
      
    </div>



  </ion-content>
</ion-view>